@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/** Scrollbar hack **/

html {
    margin-left: calc(100vw - 100%);
    margin-right: 0;
}

/** Smooth scrolling **/

html {
    scroll-behavior: smooth;
}

/** Borderbox hack **/

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* Hide scrollbars */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

/* Render sharp pixelart */
.pixelart {
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}

html {
    background-color: rgb(255, 102, 102);
	background: linear-gradient(-45deg, #F59E0B, #DB2777, #0995ad, #38BDF8);
	background-size: 400% 400%;
	animation: gradient 60s ease infinite;
	height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, "Ubuntu", "Noto Sans", "Droid Sans", Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol' !important;
}

body {
    height: 100%;
    max-width: 900px;
    margin: 0 auto;
}

a {
    color: rgb(255, 102, 102);
    text-decoration: none;
}

a:hover:not(.no-underline), a:focus:not(.no-underline) {
    text-decoration: underline;
}

a:active {
    color: black;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	33% {
		background-position: 100% 50%;
	}
	66% {
		background-position: 50% 100%;
	}
    100% {
        background-position: 0% 50%;
    }
}


/* Make posts pretty */
.h-entry {
    padding: 7px;
    border: 1px solid rgb(171, 170, 170);
    background-color: white;
    border-radius: 6px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: 7px;
    margin-top: 10px;
}

.warning {
    padding: 7px;
    border: 1px solid rgb(184, 116, 0);
    background-color: rgb(255, 210, 132);
    color: rgb(73, 51, 12);
    border-radius: 6px;
    margin-top: 10px;
}

.u-photo {
    border-radius: 6px;
    width: 60px;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.h-entry p {
    font-size: 20px;
    margin-top: 0;
}

time {
    font-size: 12px;
    color: rgb(84, 87, 94);
}

.h-card > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 7px;
}

.h-card h1 {
    margin-bottom: 2px;
}

header {
    background-color: white;
    padding: 10px;
    border: 1px solid rgb(171, 170, 170);
    border-top: none;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px
}

.h-entry p.p-name {
    font-size: 16px;
    color: rgb(84, 87, 94); 
    margin-bottom: 3px;
}

.e-content {
    flex-grow: 1;
}

.h-entry > div {
    display: flex;
    flex-direction: column;
}